@font-face {
  font-family: OpenSans;
  src: url(../assets/font/OpenSans-Bold.ttf);
}

@font-face {
  font-family: UTM BryantLG;
  src: url(../assets/font/UTM-BryantLG.ttf);
}

@keyframes contact-fb {
  0% {
    left: -400px;
  }
  50% {
    left: 0px;
  }
  75% {
    left: 150px;
  }
  100% {
    left: 0px;
  }
}

@keyframes contact-call {
  0% {
    left: 100px;
  }
  50% {
    left: -100px;
  }
  100% {
    left: 0px;
  }
}

@keyframes contact-mail {
  0% {
    bottom: 100px;
  }
  50% {
    bottom: -20px;
  }
  100% {
    bottom: 0px;
  }
}

header a:hover span {
  color: #505353;
  text-decoration: underline;
}

header a:hover .a-active {
  background-color: transparent;
  color: #B2D235;
}

header a:hover .a-disable {
  color: #B2D235;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler span {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.navbar-toggler span:hover {
  color: #B2D235;
}

.a-hide {
  display: none;
}

.logo-align {
  margin-left: 5%;
  padding-bottom: 12px;
}

.a-disable {
  font-family: "OpenSans";
  font-size: 14px;
  font-style: Bold;
  font-weight: 700;
  color: #505353;
}

.a-active {
  font-family: "OpenSans";
  font-size: 14px;
  font-style: Bold;
  font-weight: 700;
  color: #FEFFFF;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
}

.navbar-nav .nav-item:nth-child(6) {
  margin-right: 100px;
}

.navbar-nav .nav-item .nav-link {
  width: auto;
  margin-right: 10px;
}

.icon-hide {
  display: none;
}

.logo-size {
  height: 70px;
  width: 340.16px;
}

.a-bg-active {
  height: 34px;
  border-radius: 17px;
  background-color: #B2D235;
  text-align: center;
  padding: 7px 20px 7px 20px;
  border: 0px;
}

@media (max-width: 1278px) {
  .navbar-nav .nav-item:nth-child(6) {
    margin-right: 0px;
  }
}

@media (max-width: 991px) {
  .logo-size {
    height: 61px;
    width: 300px;
    border-radius: 0px;
  }
  .a-hide {
    display: block;
    transform: 1s;
  }
  .header-responsive {
    flex-direction: column;
  }
  .collapse {
    padding-top: 5px;
  }
  .navbar-nav {
    justify-content: space-between;
  }
  .navbar-nav .nav-item:nth-child(6) {
    padding-right: 0px;
  }
  .navbar-nav .nav-item .nav-link {
    width: auto;
    margin-right: 0px;
  }
}

@media (max-width: 653px) and (min-width: 576px) {
  .logo-align {
    margin-right: 50px;
  }
  .logo-size {
    height: 50px;
    width: 240px;
  }
  .collapse {
    padding-top: 10px;
  }
  .navbar-nav .nav-item .nav-link {
    width: 180px;
    margin-right: 0px;
  }
}

@media (max-width: 575px) {
  .header-responsive {
    flex-direction: row;
  }
  .collapse {
    padding-top: 0px;
  }
  .logo-size {
    height: 45px;
    width: 200px;
    border-radius: 0px;
  }
  .logo-align {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    left: -25px;
  }
  .nav-item {
    text-align: center;
  }
  .a-active {
    color: #B2D235;
  }
  .a-bg-active {
    background-color: transparent;
  }
  a:hover span {
    color: #B2D235;
    text-decoration: underline;
  }
}

@media (max-width: 375px) {
  .logo-size {
    height: 28px;
    width: 180px;
  }
  .navbar-toggler span {
    font-size: 22.5px;
  }
  .nav-item {
    text-align: center;
  }
  .a-active {
    color: #B2D235;
  }
  .a-bg-active {
    background-color: transparent;
  }
}

@media (max-width: 343px) {
  .logo-size {
    height: 25px;
    width: 150px;
  }
  .logo-align {
    left: -27px;
  }
  .navbar-toggler span {
    font-size: 20px;
  }
}

.bg-banner {
  background-image: url(../assets/img/hapo_banner.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.size-banner {
  height: 655px;
}

.size-img-banner {
  height: 655px;
}

.size-icon-banner {
  height: 44px;
  width: 48px;
}

.line-height-banner {
  line-height: 25px;
}

.bg-linear-banner {
  background: linear-gradient(180deg, #FFFBFB 50%, #d6d9dd 100%);
  height: 161px;
}

.text-learnany-banner {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 50px;
  color: #505353;
  font-weight: 400;
  letter-spacing: -0.8px;
  text-align: left;
  margin-top: 190px;
  margin-left: 59px;
  transition: 1s;
}

.text-athapo-banner {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 50px;
  color: #11114E;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 30px;
  margin-left: 59px;
  transition: 1s;
}

.text-onthego-banner {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 20px;
  color: #505353;
  font-weight: 400;
  letter-spacing: -0.8px;
  text-align: left;
  margin-top: 15px;
  margin-left: 59px;
  transition: 1s;
}

.text-btn-banner {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: -0.8px;
  text-align: center;
  margin-top: 0px;
  margin-left: 0px;
  transition: 1s;
}

.btn-banner {
  height: 70px;
  width: 377px;
  left: 60px;
  border-radius: 35px;
  box-shadow: inset 0px 4px 4px #00000040;
  background-color: #B2D235;
  margin-top: 15px;
  margin-left: 59px;
  border: none;
}

.btn-banner:hover {
  background-color: transparent;
  border: 1px solid #B2D235;
  box-shadow: none;
}

.btn-banner:hover a {
  color: #B2D235;
  text-decoration: underline;
}

@media (max-width: 1278px) {
  .size-icon-banner {
    height: 40px;
    width: 44px;
  }
  .size-banner {
    height: 600px;
  }
  .size-img-banner {
    height: 600px;
  }
  .text-learnany-banner {
    font-size: 40px;
  }
  .text-athapo-banner {
    font-size: 40px;
  }
  .text-onthego-banner {
    font-size: 20px;
  }
  .text-btn-banner {
    font-size: 25px;
  }
  .btn-banner {
    width: 280px;
    height: 50px;
  }
}

@media (max-width: 1003px) {
  .size-banner {
    height: 450px;
  }
  .size-img-banner {
    height: 450px;
  }
  .text-learnany-banner {
    font-size: 37px;
    margin-left: 5px;
    margin-top: 120px;
  }
  .text-athapo-banner {
    font-size: 37px;
    margin-left: 5px;
  }
  .text-onthego-banner {
    font-size: 17px;
    margin-left: 5px;
  }
  .text-btn-banner {
    font-size: 20px;
  }
  .btn-banner {
    width: 250px;
    height: 40px;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .size-icon-banner {
    height: 33px;
    width: 37px;
  }
  .size-banner {
    height: 350px;
  }
  .size-img-banner {
    height: 350px;
  }
  .line-height-banner {
    line-height: 20px;
  }
  .bg-linear-banner {
    height: 122px;
  }
  .text-learnany-banner {
    font-size: 30px;
    margin-top: 75px;
  }
  .text-athapo-banner {
    font-size: 30px;
  }
  .text-onthego-banner {
    font-size: 15px;
    margin-top: 15px;
  }
  .text-btn-banner {
    font-size: 16px;
  }
  .btn-banner {
    width: 180px;
  }
}

@media (max-width: 653px) {
  .size-banner {
    height: 400px;
  }
  .size-img-banner {
    height: 400px;
  }
  .text-learnany-banner {
    font-size: 26px;
    margin-top: 75px;
  }
  .text-athapo-banner {
    font-size: 26px;
  }
  .text-onthego-banner {
    font-size: 14px;
    margin-top: 10px;
  }
  .text-btn-banner {
    font-size: 15px;
  }
  .btn-banner {
    width: 165px;
    height: 35px;
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .size-banner {
    height: 700px;
    overflow: hidden;
  }
  .size-img-banner {
    width: 100%;
    height: 250px;
  }
  .line-height-banner {
    line-height: 20px;
  }
  .bg-linear-banner {
    height: 450px;
  }
  .align-text-banner {
    width: 100%;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-learnany-banner {
    font-size: 37px;
    margin: auto;
  }
  .text-athapo-banner {
    margin-left: -100px;
    font-size: 38px;
    margin-top: 30px;
  }
  .text-onthego-banner {
    margin-left: -180px;
    font-size: 17px;
    margin-top: 10px;
  }
  .text-btn-banner {
    font-size: 22px;
  }
  .btn-banner {
    margin: auto;
    height: 50px;
    width: 300px;
    margin-top: 30px;
  }
}

@media (max-width: 430px) {
  .size-banner {
    height: 700px;
    overflow: hidden;
  }
  .size-img-banner {
    width: 100%;
    height: 200px;
  }
  .line-height-banner {
    line-height: 20px;
  }
  .bg-linear-banner {
    height: 400px;
  }
  .align-text-banner {
    margin-top: 250px;
  }
  .text-learnany-banner {
    font-size: 27px;
    margin: auto;
  }
  .text-athapo-banner {
    margin-left: -37px;
    font-size: 27px;
    margin-top: 10px;
  }
  .text-onthego-banner {
    margin-left: -70px;
    font-size: 16px;
    margin-top: 0px;
  }
  .text-btn-banner {
    font-size: 18px;
  }
  .btn-banner {
    margin: auto;
    height: 40px;
    width: 240px;
    margin-top: 30px;
  }
}

.align-courses {
  transition: 1s;
  margin-top: 70px;
  justify-content: center;
}

.align-other-courses {
  transition: 1s;
  margin-top: 60px;
  justify-content: center;
}

.text-other-courses {
  transition: 1s;
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 80px;
  color: #11114E;
  font-weight: 800;
  line-height: 98px;
  letter-spacing: -0.4px;
  text-align: center;
  margin-top: 150px;
  margin-left: 0px;
}

.text-allour-courses {
  transition: 1s;
}

.text-allour-courses a {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 40px;
  color: #90AB26;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: -0.4px;
  text-align: center;
  margin-top: 45px;
  margin-left: 0px;
}

.text-allour-courses a:hover {
  transition: 0.3s;
  color: #505353;
  text-decoration: none;
}

.text-allour-courses a:hover span {
  transition: 0.3s;
  color: #505353;
  text-decoration: none;
}

.text-allour-courses span {
  top: 5px;
}

.hr-other-courses {
  transition: 1s;
  height: 6px;
  width: 480px;
  border-radius: 3px;
  background-color: #B2D235;
}

.text-short {
  display: none;
}

.courses .bg-html {
  transition: 1s;
  background-color: #3F6185;
}

.courses .bg-html .size-img-card {
  width: 226px;
  height: 125px;
}

.courses .bg-laravel {
  transition: 1s;
  background-color: #DC594C;
}

.courses .bg-laravel .size-img-card {
  width: 183px;
  height: 125px;
}

.courses .bg-php {
  transition: 1s;
  background-color: #556598;
}

.courses .bg-php .size-img-card {
  width: 226px;
  height: 125px;
}

.courses .bg-css {
  transition: 1s;
  background-color: #24ABE2;
}

.courses .bg-css .size-img-card {
  width: 180px;
  height: 120px;
}

.courses .bg-ruby {
  transition: 1s;
  background-color: #E14E40;
}

.courses .bg-ruby .size-vector {
  position: absolute;
  width: 136px;
  height: 82px;
  top: 60px;
  left: 63px;
}

.courses .bg-ruby .size-rails {
  position: absolute;
  width: 166px;
  height: 44px;
  top: 100px;
  left: 135px;
}

.courses .bg-java {
  transition: 1s;
  background-color: #1B75BB;
  background-color: #1B75BB;
}

.courses .bg-java .size-img-card {
  width: 258px;
  height: 150px;
}

.courses .card {
  transition: 1s;
  width: 370px;
  box-shadow: 0px 0px 10px 0px #00000040;
  border-radius: 20px;
}

.courses .card-img-top {
  transition: 1s;
  height: 215px;
  border-radius: 20px 20px 0px 0px;
}

.courses .card-body {
  transition: 1s;
  height: 255px;
  border-radius: 0px 0px 20px 20px;
}

.courses .card-title {
  transition: 1s;
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 30px;
  color: #B2D235;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.8px;
  text-align: left;
  margin-top: 0px;
  text-shadow: 1px 1px 2px #00000040;
}

.courses .card-text {
  transition: 1s;
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 14px;
  color: #505353;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.8px;
  text-align: center;
  margin-top: 10px;
}

.courses .card-button {
  transition: 1s;
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.8px;
  text-align: center;
  margin-top: 10px;
  height: 42px;
  width: 200px;
  border-radius: 22px;
  border: none;
  box-shadow: 0px 1.5px 2px 0px #6F8710 inset;
  background-color: #B2D235;
}

.courses .card-button:hover {
  background-color: transparent;
  border: 1px solid #B2D235;
  box-shadow: none;
}

.courses .card-button:hover a {
  color: #B2D235;
  text-decoration: underline;
}

@media (max-width: 1278px) {
  .text-other-courses {
    font-size: 50px;
    line-height: 50px;
    margin-top: 80px;
  }
  .text-allour-courses a {
    font-size: 28px;
    line-height: 34px;
    margin-top: 30px;
  }
  .text-allour-courses span {
    top: 3.5px;
  }
  .align-other-courses {
    margin-top: 20px;
  }
  .hr-other-courses {
    height: 4px;
    width: 303px;
  }
  .courses .card {
    width: 320px;
  }
  .courses .card-img-top {
    height: 180px;
  }
  .courses .card-body {
    height: 200px;
  }
  .courses .bg-html .size-img-card {
    width: 190px;
    height: 105px;
  }
  .courses .bg-laravel .size-img-card {
    width: 170px;
    height: 100px;
  }
  .courses .bg-php .size-img-card {
    width: 200px;
    height: 110px;
  }
  .courses .bg-css .size-img-card {
    width: 180px;
    height: 80px;
  }
  .courses .bg-ruby .size-vector {
    width: 100px;
    height: 68px;
    top: 60px;
    left: 65px;
  }
  .courses .bg-ruby .size-rails {
    width: 140px;
    height: 30px;
    top: 98px;
    left: 115px;
  }
  .courses .bg-java .size-img-card {
    width: 169px;
    height: 105px;
  }
  .courses .card-title {
    font-size: 25px;
    line-height: 5px;
    margin-top: 5px;
  }
  .courses .card-text {
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px;
  }
  .courses .card-button {
    font-size: 17px;
    line-height: 22px;
    margin-top: 5px;
    height: 40px;
    width: 200px;
  }
  .align-title-html {
    width: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .align-title-ruby {
    width: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1003px) {
  .align-courses {
    margin-top: 70px;
  }
  .align-title-html {
    width: 278px;
  }
  .align-title-ruby {
    width: 278px;
  }
  .text-other-courses {
    font-size: 45px;
    line-height: 50px;
    margin-top: 80px;
  }
  .text-allour-courses a {
    font-size: 27px;
    line-height: 34px;
    margin-top: 30px;
  }
  .hr-other-courses {
    height: 4px;
    width: 280px;
  }
  .courses .card {
    width: 280px;
  }
  .courses .card-img-top {
    height: 160px;
  }
  .courses .card-body {
    height: 190px;
  }
  .courses .card-button {
    font-size: 17px;
    line-height: 22px;
    margin-top: 5px;
    height: 37px;
    width: 180px;
  }
  .courses .bg-ruby .size-vector {
    width: 100px;
    height: 68px;
    top: 50px;
    left: 50px;
  }
  .courses .bg-ruby .size-rails {
    width: 140px;
    height: 30px;
    top: 88px;
    left: 100px;
  }
  .text-short {
    display: block;
  }
  .text-long {
    display: none;
  }
}

@media (max-width: 873px) {
  .align-title-html {
    width: 223px;
  }
  .align-title-ruby {
    width: 223px;
  }
  .align-courses {
    margin-top: 50px;
  }
  .text-other-courses {
    font-size: 40px;
    line-height: 50px;
    margin-top: 80px;
  }
  .text-allour-courses a {
    font-size: 28px;
    line-height: 34px;
    margin-top: 30px;
  }
  .align-other-courses {
    margin-top: 20px;
  }
  .hr-other-courses {
    height: 4px;
    width: 230px;
  }
  .courses .card {
    width: 225.86px;
  }
  .courses .bg-html .size-img-card {
    width: 152px;
    height: 84px;
  }
  .courses .bg-laravel .size-img-card {
    width: 112px;
    height: 76px;
  }
  .courses .bg-php .size-img-card {
    width: 150px;
    height: 83px;
  }
  .courses .bg-css .size-img-card {
    width: 110px;
    height: 40px;
  }
  .courses .bg-ruby .size-vector {
    width: 74px;
    height: 58px;
    top: 35px;
    left: 32px;
  }
  .courses .bg-ruby .size-rails {
    width: 115px;
    height: 30px;
    top: 62px;
    left: 75px;
  }
  .courses .bg-java .size-img-card {
    width: 169px;
    height: 105px;
  }
  .courses .card-img-top {
    height: 131px;
  }
  .courses .card-body {
    height: 171px;
  }
  .courses .card-title {
    font-size: 20px;
    line-height: 5px;
    margin-top: 0px;
  }
  .courses .card-text {
    font-size: 13px;
    line-height: 15px;
    margin-top: 8px;
  }
  .courses .card-button {
    font-size: 12px;
    line-height: 22px;
    margin-top: 0px;
    height: 24px;
    width: 140px;
  }
  .text-short {
    display: block;
  }
  .text-long {
    display: none;
  }
}

@media (max-width: 711px) and (min-width: 576px) {
  .align-courses {
    margin-top: 40px;
  }
  .align-title-html {
    width: 183px;
  }
  .align-title-ruby {
    width: 183px;
  }
  .text-other-courses {
    font-size: 30px;
    line-height: 30px;
    margin-top: 70px;
  }
  .text-allour-courses a {
    font-size: 20px;
    line-height: 0px;
    margin-top: 70px;
  }
  .align-other-courses {
    margin-top: 20px;
  }
  .hr-other-courses {
    height: 4px;
    width: 180px;
  }
  .courses .card {
    width: 185px;
  }
  .courses .card-img-top {
    height: 110px;
  }
  .courses .card-body {
    height: 140px;
  }
  .courses .bg-html .size-img-card {
    width: 120px;
    height: 70px;
  }
  .courses .bg-laravel .size-img-card {
    width: 100px;
    height: 60px;
  }
  .courses .bg-php .size-img-card {
    width: 120px;
    height: 60px;
  }
  .courses .bg-css .size-img-card {
    width: 110px;
    height: 40px;
  }
  .courses .bg-ruby .size-vector {
    width: 60px;
    height: 40px;
    top: 35px;
    left: 42px;
  }
  .courses .bg-ruby .size-rails {
    width: 70px;
    height: 20px;
    top: 55px;
    left: 70px;
  }
  .courses .bg-java .size-img-card {
    width: 110px;
    height: 60px;
  }
  .courses .card-title {
    font-size: 20px;
    line-height: 5px;
    margin-top: 0px;
  }
  .courses .card-text {
    font-size: 11px;
    line-height: 10px;
    margin-top: 5px;
  }
  .courses .card-button {
    font-size: 11px;
    line-height: 10px;
    margin-top: 0px;
    height: 24px;
    width: 100px;
  }
}

@media (max-width: 575px) {
  .align-title-html {
    width: 338px;
  }
  .align-title-ruby {
    width: 338px;
  }
  .align-other-courses {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }
  .align-courses {
    margin-top: -150px;
    flex-direction: column;
    align-items: center;
  }
  .text-other-courses {
    font-size: 50px;
    line-height: 49px;
    margin-top: 70px;
  }
  .text-allour-courses a {
    font-size: 30px;
    line-height: 26px;
    margin-top: 20px;
  }
  .text-allour-courses span {
    top: 2.2px;
  }
  .hr-other-courses {
    height: 3px;
    width: 320px;
  }
  .courses .bg-html {
    background-color: #3F6185;
  }
  .courses .bg-html .size-img-card {
    width: 226px;
    height: 125px;
  }
  .courses .bg-laravel {
    background-color: #DC594C;
  }
  .courses .bg-laravel .size-img-card {
    width: 183px;
    height: 125px;
  }
  .courses .bg-php {
    background-color: #556598;
  }
  .courses .bg-php .size-img-card {
    width: 226px;
    height: 125px;
  }
  .courses .bg-css {
    background-color: #24ABE2;
  }
  .courses .bg-css .size-img-card {
    width: 180px;
    height: 120px;
  }
  .courses .bg-ruby {
    background-color: #E14E40;
  }
  .courses .bg-ruby .size-vector {
    position: absolute;
    width: 136px;
    height: 82px;
    top: 60px;
    left: 63px;
  }
  .courses .bg-ruby .size-rails {
    position: absolute;
    width: 166px;
    height: 44px;
    top: 100px;
    left: 135px;
  }
  .courses .bg-java {
    background-color: #1B75BB;
    background-color: #1B75BB;
  }
  .courses .bg-java .size-img-card {
    width: 258px;
    height: 150px;
  }
  .courses .card {
    width: 340px;
    box-shadow: 0px 0px 10px 0px #00000040;
    border-radius: 20px;
    margin-top: 30px;
  }
  .courses .card-img-top {
    transition: 1s;
    height: 215px;
    border-radius: 20px 20px 0px 0px;
  }
  .courses .card-body {
    transition: 1s;
    height: 255px;
    border-radius: 0px 0px 20px 20px;
  }
  .courses .card-title {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 30px;
    color: #B2D235;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.8px;
    text-align: left;
    margin-top: 0px;
  }
  .courses .card-text {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 14px;
    color: #505353;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.8px;
    text-align: center;
    margin-top: 10px;
  }
  .courses .card-button {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.8px;
    text-align: center;
    margin-top: 10px;
    height: 42px;
    width: 250px;
    border-radius: 22px;
    border: none;
    background-color: #B2D235;
  }
}

@media (max-width: 430px) {
  .align-title-html {
    width: 278px;
  }
  .align-title-ruby {
    width: 278px;
  }
  .align-other-courses {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }
  .align-courses {
    margin-top: -220px;
    flex-direction: column;
    align-items: center;
  }
  .text-other-courses {
    font-size: 45px;
    line-height: 49px;
    margin-top: 70px;
  }
  .text-allour-courses a {
    font-size: 25px;
    line-height: 26px;
    margin-top: 20px;
  }
  .text-allour-courses span {
    top: 2.2px;
  }
  .hr-other-courses {
    height: 3px;
    width: 280px;
  }
  .courses .bg-html {
    background-color: #3F6185;
  }
  .courses .bg-html .size-img-card {
    width: 171px;
    height: 95px;
  }
  .courses .bg-laravel {
    background-color: #DC594C;
  }
  .courses .bg-laravel .size-img-card {
    width: 139px;
    height: 94px;
  }
  .courses .bg-php {
    background-color: #556598;
  }
  .courses .bg-php .size-img-card {
    width: 174px;
    height: 97px;
  }
  .courses .bg-css {
    background-color: #24ABE2;
  }
  .courses .bg-css .size-img-card {
    width: 168px;
    height: 104px;
  }
  .courses .bg-ruby {
    background-color: #E14E40;
  }
  .courses .bg-ruby .size-vector {
    position: absolute;
    width: 107px;
    height: 64px;
    top: 60px;
    left: 40px;
  }
  .courses .bg-ruby .size-rails {
    position: absolute;
    width: 130px;
    height: 34px;
    top: 90px;
    left: 100px;
  }
  .courses .bg-java {
    background-color: #1B75BB;
    background-color: #1B75BB;
  }
  .courses .bg-java .size-img-card {
    width: 193px;
    height: 119px;
  }
  .courses .card {
    width: 280px;
  }
  .courses .card-img-top {
    height: 163px;
  }
  .courses .card-body {
    height: 226px;
  }
  .courses .card-title {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 25px;
    color: #B2D235;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.8px;
    text-align: left;
    margin-top: 0px;
  }
  .courses .card-text {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 14px;
    color: #505353;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.8px;
    text-align: center;
    margin-top: 0px;
  }
  .courses .card-button {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.8px;
    text-align: center;
    margin-top: 5px;
    height: 42px;
    width: 200px;
    border-radius: 22px;
    border: none;
    background-color: #B2D235;
  }
  .text-short {
    display: block;
  }
  .text-long {
    display: none;
  }
}

.bg-why-hapo {
  background-image: url(../assets/img/rectangle_17.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 740px;
  transition: 1s;
}

.align-why-hapo {
  margin-top: 120px;
}

.title-why-hapo {
  transition: 1s;
  position: relative;
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 70px;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 0.32px;
  color: #FFFFFF;
  position: relative;
  left: -24px;
  top: -24px;
}

.text-why-hapo {
  transition: 1s;
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.8px;
  color: #FFFFFF;
  position: relative;
}

.text-why-hapo img {
  width: 20px;
  height: 20px;
}

.img-keyboard {
  transition: 1s;
  width: 378px;
  height: 473px;
  position: relative;
  top: -220px;
  left: -17px;
}

.img-laptop {
  transition: 1s;
  width: 715px;
  height: 560px;
  position: relative;
  top: 112px;
  left: 0px;
}

.section-text-why-hapo {
  transition: 1s;
  position: relative;
  top: -195px;
  left: 150px;
}

@media (max-width: 1440px) {
  .title-why-hapo {
    left: -68px;
    top: -24px;
  }
  .text-why-hapo {
    left: -45px;
  }
}

@media (max-width: 1366px) {
  .img-keyboard {
    width: 350px;
    height: 450px;
    position: relative;
    top: -220px;
    left: -17px;
  }
  .img-laptop {
    transition: 1s;
    width: 570px;
    height: 450px;
    position: relative;
    top: 230px;
    left: -20px;
  }
  .title-why-hapo {
    transition: 1s;
    position: relative;
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 60px;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    position: relative;
  }
  .text-why-hapo {
    transition: 1s;
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    position: relative;
    left: -60px;
  }
}

@media (max-width: 1144px) {
  .text-why-hapo {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    position: relative;
    left: 0px;
  }
  .img-keyboard {
    width: 350px;
    height: 450px;
    position: relative;
    top: -220px;
    left: -17px;
  }
  .img-laptop {
    width: 500px;
    height: 395px;
    position: relative;
    top: 280px;
    left: -10px;
  }
  .title-why-hapo {
    width: 450px;
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 55px;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    position: relative;
    top: -100px;
    left: 180px;
  }
  .text-why-hapo {
    transition: 1s;
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    position: relative;
    left: -115px;
  }
}

@media (max-width: 1003px) {
  .title-why-hapo {
    top: -100px;
    left: 150px;
  }
  .img-laptop {
    width: 430px;
    height: 355px;
    position: relative;
    top: 280px;
    left: 0px;
  }
  .text-why-hapo {
    left: -130px;
  }
}

@media (max-width: 900px) {
  .align-why-hapo {
    margin-top: 60px;
  }
  .bg-why-hapo {
    height: 450px;
  }
  .title-why-hapo {
    font-size: 40px;
    line-height: 40px;
    width: 228px;
    top: -26px;
    left: 136px;
    top: 20px;
    left: 250px;
    width: 450px;
  }
  .text-why-hapo {
    font-size: 13px;
    line-height: 35px;
    width: 350px;
    top: 5px;
    left: 14px;
    width: 400px;
    top: 80px;
  }
  .text-why-hapo img {
    width: 14px;
    height: 14px;
  }
  .img-keyboard {
    width: 204px;
    height: 277px;
    top: -118px;
  }
  .img-laptop {
    width: 302px;
    height: 227px;
    top: -206px;
    position: relative;
    top: 150px;
    left: 0px;
  }
  .section-text-why-hapo {
    top: -220px;
    left: 0px;
  }
}

@media (max-width: 767px) {
  .align-why-hapo {
    margin-top: 60px;
  }
  .bg-why-hapo {
    height: 700px;
  }
  .title-why-hapo {
    font-size: 45px;
    line-height: 40px;
    width: 228px;
    top: -26px;
    left: 136px;
    top: 20px;
    left: 0px;
    width: 100%;
    text-align: center;
  }
  .text-why-hapo {
    font-size: 20px;
    line-height: 45px;
    width: 350px;
    top: 5px;
    left: 0px;
    top: 80px;
    left: 0px;
    width: 100%;
    text-align: center;
  }
  .text-why-hapo img {
    width: 14px;
    height: 14px;
  }
  .img-keyboard {
    width: 204px;
    height: 277px;
    top: -118px;
  }
  .img-laptop {
    width: 450px;
    height: 350px;
    top: -206px;
    position: relative;
    top: -150px;
    left: 0px;
    margin: auto;
  }
  .section-text-why-hapo {
    top: -220px;
    left: 0px;
  }
}

@media (max-width: 575px) {
  .align-why-hapo {
    margin-top: 60px;
  }
  .bg-why-hapo {
    height: 700px;
  }
  .title-why-hapo {
    font-size: 35px;
    line-height: 40px;
    width: 228px;
    top: -26px;
    left: 136px;
    top: 20px;
    left: 0px;
    width: 100%;
    text-align: center;
  }
  .text-why-hapo {
    font-size: 15px;
    line-height: 45px;
    width: 350px;
    top: 5px;
    left: 0px;
    top: 80px;
    left: 0px;
    width: 100%;
    text-align: center;
  }
  .text-why-hapo img {
    width: 14px;
    height: 14px;
  }
  .img-keyboard {
    width: 204px;
    height: 277px;
    top: -118px;
  }
  .img-laptop {
    width: 400px;
    height: 300px;
    top: -206px;
    position: relative;
    top: -150px;
    left: 0px;
    margin: auto;
  }
  .section-text-why-hapo {
    top: -220px;
    left: 0px;
  }
}

@media (max-width: 431px) {
  .align-why-hapo {
    margin-top: 60px;
  }
  .bg-why-hapo {
    height: 600px;
  }
  .title-why-hapo {
    font-size: 35px;
    line-height: 40px;
    width: 228px;
    top: -26px;
    left: 136px;
    top: 0px;
    left: 60px;
    width: 250px;
    text-align: left;
    margin: auto;
  }
  .text-why-hapo {
    font-size: 13px;
    line-height: 30px;
    width: 0px;
    top: 0px;
    left: 0px;
    top: 50px;
    left: 0px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.5px;
  }
  .img-keyboard {
    width: 204px;
    height: 277px;
    top: -118px;
  }
  .img-laptop {
    width: 350px;
    height: 250px;
    top: -206px;
    position: relative;
    top: -150px;
    left: 0px;
    margin: auto;
  }
  .section-text-why-hapo {
    top: -220px;
    left: 0px;
  }
}

@media (max-width: 369px) {
  .bg-why-hapo {
    height: 530px;
  }
  .title-why-hapo {
    font-size: 35px;
    line-height: 40px;
    width: 228px;
    top: -26px;
    left: 136px;
    top: 0px;
    left: 60px;
    width: 250px;
    text-align: left;
    margin: auto;
  }
  .text-why-hapo {
    font-size: 12px;
    line-height: 30px;
    width: 0px;
    top: 0px;
    left: 0px;
    letter-spacing: 0.5px;
    top: 50px;
    left: 0px;
    width: 100%;
    text-align: center;
  }
  .img-keyboard {
    width: 204px;
    height: 250px;
    top: -118px;
  }
  .img-laptop {
    width: 300px;
    height: 180px;
    top: -206px;
    position: relative;
    top: -150px;
    left: 0px;
    margin: auto;
  }
  .section-text-why-hapo {
    top: -220px;
    left: 0px;
  }
}

@media (max-width: 367px) {
  .bg-why-hapo {
    height: 480px;
  }
  .text-why-hapo {
    font-size: 12px;
    line-height: 30px;
    width: 0px;
    top: 0px;
    left: 0px;
    letter-spacing: 0.1px;
    top: 50px;
    left: 0px;
    width: 320px;
    text-align: center;
  }
  .title-why-hapo {
    font-size: 33px;
    line-height: 40px;
    width: 228px;
    top: -26px;
    left: 136px;
    top: 20px;
    left: 60px;
    width: 200px;
    text-align: left;
    margin: auto;
  }
  .img-laptop {
    width: 300px;
    height: 180px;
    top: -206px;
    position: relative;
    top: -150px;
    left: 0px;
    margin: auto;
  }
  .img-keyboard {
    width: 180px;
    height: 220px;
    top: -100px;
  }
}

.feedback {
  position: relative;
  margin-top: 50px;
}

.title-feedback {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 80px;
  color: #11114E;
  font-weight: 700;
  letter-spacing: -0.32px;
  text-align: center;
}

.hr-feedback {
  height: 6px;
  width: 328px;
  border-radius: 3px;
  background-color: #B2D235;
}

.text-feedback {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 25px;
  color: #505353;
  font-weight: 400;
  letter-spacing: -0.32px;
  text-align: center;
  line-height: 31px;
  width: 750px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

.prev-arrow, .next-arrow {
  position: absolute;
  color: #969494;
  font-size: 13px;
  height: 25px;
  width: 30px;
  border: 0.5px solid #E2E2E2;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 999;
}

.prev-arrow {
  top: 70px;
  left: 0px;
}

.next-arrow {
  top: 70px;
  left: 1170px;
}

.slider-feedback {
  width: 1200px;
}

.slider-feedback .slider-item {
  padding-bottom: 30px;
}

.person-feedback {
  margin-top: 25px;
  margin-left: 65px;
  display: flex;
}

.person-feedback img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.person-feedback .info-person-feedback {
  margin-left: 15px;
  line-height: 5px;
}

.person-feedback .info-person-feedback .name-person {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 20px;
  color: #11114E;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 5px;
}

.person-feedback .info-person-feedback .name-courses {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 16px;
  color: #505353;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
}

.person-feedback .info-person-feedback .rate-star {
  position: relative;
  top: -5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #F2C54F;
}

.ribbon-feedback {
  display: flex;
  position: relative;
  height: 163px;
  width: 570px;
  border-radius: 10px;
  margin: auto;
  border: 0.5px solid #E2E2E2;
  background-color: #ffffff;
  box-shadow: 1px 2px 1px 1px #b1b1b140;
}

.ribbon-feedback::before {
  content: '';
  position: absolute;
  bottom: -11px;
  left: 67px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  transform: rotate(45deg);
}

.ribbon-feedback .vertical-line-feedback {
  border-left: 5px solid #D9DADC;
  height: 108px;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.ribbon-feedback .cmt-feedback {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 16px;
  color: #505353;
  font-weight: 700;
  letter-spacing: -0.8px;
  text-align: left;
  line-height: 20px;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 1349px) {
  .slider-feedback {
    transition: 1s;
    width: 1024px;
    overflow: hidden;
  }
  .ribbon-feedback {
    width: 480px;
    transition: 1s;
  }
  .prev-arrow {
    transition: 1s;
    top: 70px;
    left: 1px;
  }
  .next-arrow {
    transition: 1s;
    top: 70px;
    left: 994px;
  }
  .title-feedback {
    transition: 1s;
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 65px;
    color: #11114E;
    font-weight: 700;
    letter-spacing: -0.32px;
    text-align: center;
  }
  .hr-feedback {
    transition: 1s;
    height: 6px;
    width: 300px;
    border-radius: 3px;
    background-color: #B2D235;
  }
  .text-feedback {
    transition: 1s;
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 24px;
    color: #505353;
    font-weight: 400;
    letter-spacing: -0.32px;
    text-align: center;
    line-height: 31px;
    width: 750px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

@media (max-width: 1040px) {
  .feedback {
    margin-top: 30px;
  }
  .title-feedback {
    font-size: 60px;
    line-height: 61px;
  }
  .hr-feedback {
    width: 280px;
    height: 4px;
    border-radius: 3px;
    margin-top: 0px;
  }
  .ribbon-feedback {
    width: 570px;
  }
  .text-feedback {
    width: 516px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .slider-feedback {
    width: 600px;
  }
  .prev-arrow {
    left: 0px;
  }
  .next-arrow {
    left: 570px;
  }
  .person-feedback {
    margin-top: 20px;
    margin-left: 64px;
  }
}

@media (max-width: 615px) {
  .feedback {
    margin-top: 30px;
  }
  .title-feedback {
    font-size: 45px;
    line-height: 61px;
  }
  .hr-feedback {
    width: 200px;
    height: 4px;
    border-radius: 3px;
    margin-top: 0px;
  }
  .ribbon-feedback {
    width: 385px;
  }
  .text-feedback {
    width: 410px;
    font-size: 17px;
    line-height: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .slider-feedback {
    width: 410px;
  }
  .prev-arrow {
    left: 0px;
  }
  .next-arrow {
    left: 380px;
  }
  .person-feedback {
    margin-top: 20px;
    margin-left: 62px;
  }
  .cmt-feedback {
    font-size: 13px;
    line-height: 17px;
    margin-right: 10px;
  }
}

@media (max-width: 409px) {
  .title-feedback {
    font-size: 40px;
    line-height: 49px;
  }
  .hr-feedback {
    width: 169px;
    height: 3px;
  }
  .text-feedback {
    width: 320px;
    font-size: 16px;
    line-height: 19px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .ribbon-feedback {
    height: 133px;
    width: 300px;
  }
  .ribbon-feedback .vertical-line-feedback {
    border-left: 3px solid #D9DADC;
    height: 98px;
  }
  .ribbon-feedback .cmt-feedback {
    font-size: 14px;
    line-height: 17px;
  }
  .slider-feedback {
    width: 320px;
  }
  .prev-arrow, .next-arrow {
    top: 60px;
    height: 25px;
    width: 20px;
  }
  .prev-arrow {
    left: 0px;
  }
  .next-arrow {
    left: 300px;
  }
  .person-feedback {
    margin-top: 20px;
    margin-left: 67px;
  }
  .person-feedback img {
    height: 45px;
    width: 45px;
  }
  .person-feedback .info-person-feedback {
    margin-left: 15px;
    line-height: 5px;
  }
  .person-feedback .info-person-feedback .name-perfon {
    margin-top: 5px;
    font-size: 15px;
  }
  .person-feedback .info-person-feedback .name-courses {
    font-size: 13px;
  }
  .person-feedback .info-person-feedback .rate-star {
    font-size: 10px;
    color: #F2C54F;
    top: -8px;
  }
}

.start-learning {
  background-image: url(../assets/img/rectangle_24.png);
  background-size: 100% 100%;
  height: 500px;
  margin-top: 80px;
}

.text-start-learning {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: 0.32px;
  text-align: center;
  width: 705px;
  margin: auto;
  margin-top: 130px;
}

.btn-start-learning {
  height: 70px;
  width: 377px;
  border: none;
  border-radius: 35px;
  margin: auto;
  margin-bottom: 100px;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
}

.btn-start-learning .style-text-btn-learning {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 30px;
  color: #90AB26;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.8px;
  text-align: center;
}

.btn-start-learning:hover {
  transition: 0.5s;
  background-color: #90AB26;
}

.btn-start-learning:hover a {
  color: #505353;
}

@media (max-width: 1024px) {
  .start-learning {
    margin-top: 10px;
    height: 400px;
    transition: 1s;
  }
  .text-start-learning {
    width: 700px;
    margin-top: 100px;
    font-size: 50px;
    line-height: 42px;
    transition: 1s;
  }
  .btn-start-learning {
    font-size: 20px;
    line-height: 24px;
    height: 60px;
    width: 330px;
    margin-bottom: 100px;
    transition: 1s;
  }
  .btn-start-learning .style-text-btn-learning {
    font-size: 25px;
    transition: 1s;
  }
}

@media (max-width: 768px) {
  .start-learning {
    margin-top: 10px;
    height: 300px;
  }
  .text-start-learning {
    width: 450px;
    margin-top: 80px;
    font-size: 40px;
    line-height: 42px;
  }
  .btn-start-learning {
    line-height: 24px;
    height: 46px;
    width: 280px;
    margin-bottom: 50px;
  }
  .btn-start-learning .style-text-btn-learning {
    font-size: 22px;
  }
}

@media (max-width: 460px) {
  .start-learning {
    margin-top: 0px;
    height: 255px;
  }
  .text-start-learning {
    width: 375px;
    margin-top: 50px;
    font-size: 30px;
    line-height: 42px;
  }
  .btn-start-learning {
    line-height: 24px;
    height: 40px;
    width: 230px;
    margin-bottom: 50px;
  }
  .btn-start-learning .style-text-btn-learning {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .text-start-learning {
    width: 320px;
    margin-top: 50px;
    font-size: 28px;
    line-height: 42px;
  }
  .btn-start-learning {
    line-height: 24px;
    height: 40px;
    width: 230px;
    margin-bottom: 50px;
  }
  .btn-start-learning .style-text-btn-learning {
    font-size: 20px;
  }
}

.statistic {
  margin-top: 110px;
  transition: 1s;
}

.body-statistic {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  transition: 1s;
}

.title-statistic {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 80px;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: -0.32px;
  text-align: center;
  color: #11114E;
  transition: 1s;
  z-index: 999;
}

.hr-statistic {
  height: 6px;
  width: 276px;
  border-radius: 3px;
  background-color: #B2D235;
  transition: 1s;
}

.text-topic-statistic {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 60px;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: -0.8px;
  text-align: center;
  color: #505353;
  transition: 1s;
}

.text-statistic-info {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 60px;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: -0.8px;
  text-align: center;
  color: #B2D235;
  transition: 1s;
}

@media (max-width: 1097px) {
  .body-statistic {
    margin-top: 20px;
  }
  .statistic {
    margin-top: 80px;
    transition: 1s;
  }
  .title-statistic {
    font-size: 65px;
  }
  .hr-statistic {
    width: 230px;
  }
  .text-topic-statistic {
    font-size: 50px;
  }
  .text-statistic-info {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .body-statistic {
    justify-content: space-between;
  }
  .statistic {
    margin-top: 70px;
  }
  .title-statistic {
    font-size: 45px;
    line-height: 50px;
  }
  .hr-statistic {
    width: 170px;
  }
  .text-topic-statistic {
    font-size: 40px;
    line-height: 60px;
  }
  .text-statistic-info {
    font-size: 35px;
    line-height: 0px;
  }
}

@media (max-width: 575px) {
  .statistic {
    margin-top: 70px;
  }
  .body-statistic {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
  }
  .body-statistic div:nth-child(n+2) {
    margin-top: 30px;
  }
  .title-statistic {
    font-size: 60px;
    line-height: 60px;
  }
  .hr-statistic {
    height: 6px;
    width: 200px;
  }
  .text-topic-statistic {
    font-size: 40px;
    line-height: 49px;
  }
  .text-statistic-info {
    font-size: 40px;
    line-height: 49px;
  }
}

@media (max-width: 375px) {
  .statistic {
    margin-top: 40px;
  }
  .body-statistic {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
  }
  .body-statistic div:nth-child(n+2) {
    margin-top: 20px;
  }
  .title-statistic {
    font-size: 40px;
    line-height: 30px;
  }
  .hr-statistic {
    height: 3px;
    width: 150px;
  }
  .text-topic-statistic {
    font-size: 30px;
    line-height: 30px;
  }
  .text-statistic-info {
    font-size: 30px;
    line-height: 30px;
  }
}

.body-footer {
  height: 308px;
  background-color: #505353;
  margin-top: 150px;
  display: flex;
}

.content-footer {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-footer img {
  width: 291px;
  height: 60px;
}

.content-footer p {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 19px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.8px;
  text-align: left;
  color: #FFFFFF;
  height: 60px;
  width: 297px;
  margin-left: 140px;
}

.navs-footer {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navs-footer .nav .nav-link {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.8px;
  text-align: left;
  color: #FFFFFF;
}

.navs-footer a:hover span {
  color: #B2D235;
  text-decoration: underline;
}

.text-copyright {
  font-family: "UTM BryantLG";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.8px;
  text-align: center;
  color: #FFFFFF;
  height: 38px;
  background-color: #454545;
}

.contact-footer {
  margin: auto;
}

.contact-footer .nav {
  justify-content: center;
}

.contact-footer .nav .nav-link {
  font-size: 45px;
  margin-left: 30px;
  color: #FFFFFF;
}

.contact-footer .nav .nav-link:hover {
  color: #B2D235;
}

.style-tooltip-footer {
  font-family: UTM BryantLG;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #FFFFFF;
}

.style-tooltip-footer:hover {
  color: #B2D235;
}

@media (max-width: 1097px) {
  .body-footer {
    margin-top: 120px;
    transition: 1s;
  }
  .content-footer {
    transition: 1s;
    padding-top: 70px;
  }
  .content-footer img {
    width: 250px;
    height: 50px;
    transition: 1s;
  }
  .content-footer p {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.8px;
    text-align: left;
    color: #FFFFFF;
    width: 230px;
    margin-left: 95px;
    transition: 1s;
  }
  .navs-footer {
    padding-top: 30px;
    transition: 1s;
  }
  .navs-footer .nav {
    margin-left: 20px;
    transition: 1s;
  }
  .navs-footer .nav .nav-link {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.8px;
    text-align: left;
    color: #FFFFFF;
    transition: 1s;
  }
  .text-copyright {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.8px;
    text-align: center;
    color: #FFFFFF;
    height: 38px;
    transition: 1s;
  }
  .contact-footer {
    transition: 1s;
  }
  .contact-footer .nav {
    transition: 1s;
  }
  .contact-footer .nav .nav-link {
    font-size: 35px;
    margin-left: 15px;
    transition: 1s;
  }
  .style-tooltip-footer {
    font-size: 18px;
  }
}

@media (max-width: 873px) {
  .body-footer {
    height: 280px;
    margin-top: 120px;
    transition: 1s;
  }
  .content-footer img {
    width: 220px;
    height: 45px;
    transition: 1s;
  }
  .content-footer p {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.8px;
    text-align: left;
    color: #FFFFFF;
    width: 220px;
    margin-left: 100px;
    transition: 1s;
  }
  .navs-footer {
    padding-top: 20px;
    transition: 1s;
  }
  .navs-footer .nav {
    margin-left: 10px;
    transition: 1s;
  }
  .navs-footer .nav .nav-link {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.8px;
    text-align: left;
    color: #FFFFFF;
    transition: 1s;
  }
  .text-copyright {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.8px;
    text-align: center;
    color: #FFFFFF;
    height: 38px;
    transition: 1s;
  }
  .contact-footer {
    transition: 1s;
  }
  .contact-footer .nav {
    transition: 1s;
  }
  .contact-footer .nav .nav-link {
    font-size: 35px;
    margin-left: 5px;
    transition: 1s;
  }
  .style-tooltip-footer {
    font-size: 17px;
  }
}

@media (max-width: 767px) {
  .body-footer {
    height: 230px;
    margin-top: 100px;
    transition: 1s;
  }
  .content-footer {
    position: relative;
    top: -55px;
    left: -15px;
    align-items: flex-start;
  }
  .content-footer img {
    width: 200px;
    height: 40px;
    transition: 1s;
  }
  .content-footer p {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.8px;
    text-align: left;
    color: #FFFFFF;
    width: 220px;
    margin-left: 45px;
    transition: 1s;
  }
  .navs-footer {
    padding-top: 5px;
  }
  .navs-footer .nav {
    margin-left: 50px;
    transition: 1s;
  }
  .navs-footer .nav .nav-link {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.8px;
    text-align: left;
    color: #FFFFFF;
    transition: 1s;
  }
  .contact-footer {
    margin-left: -40px;
  }
  .contact-footer .nav {
    width: 180px;
  }
  .contact-footer .nav .nav-link {
    font-size: 28px;
    margin-left: 0px;
    transition: 1s;
  }
  .style-tooltip-footer {
    font-size: 16px;
  }
}

@media (max-width: 658px) {
  .content-footer {
    position: relative;
    top: -55px;
    align-items: flex-start;
  }
  .content-footer img {
    width: 200px;
    height: 40px;
    transition: 1s;
  }
  .content-footer p {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.8px;
    text-align: left;
    color: #FFFFFF;
    width: 150px;
    margin-left: 45px;
    transition: 1s;
  }
  .navs-footer {
    padding-top: 5px;
  }
  .navs-footer .nav {
    margin-left: 20px;
    transition: 1s;
  }
  .navs-footer .nav .nav-link {
    font-family: "UTM BryantLG";
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.8px;
    text-align: left;
    color: #FFFFFF;
    transition: 1s;
  }
  .contact-footer {
    margin-left: 0px;
  }
  .contact-footer .nav {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
  }
  .contact-footer .nav .nav-link {
    font-size: 27px;
    margin-left: 0px;
    transition: 1s;
  }
}

@media (max-width: 575px) {
  .body-footer {
    height: 319px;
    margin-top: 70px;
  }
  .content-footer {
    width: 50%;
    margin-top: 220px;
  }
  .content-footer img {
    width: 150px;
    height: 30px;
    margin-left: 50px;
  }
  .content-footer p {
    height: 40px;
    width: 200px;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    margin-left: 30px;
  }
  .navs-footer {
    width: 100%;
    margin-top: 10px;
    left: 0px;
    position: absolute;
  }
  .navs-footer .nav {
    width: 100%;
    justify-content: space-around;
  }
  .navs-footer .nav .nav-link {
    font-size: 18px;
    line-height: 35px;
    text-align: left;
  }
  .contact-footer {
    width: 50%;
    position: relative;
    top: 100px;
  }
  .contact-footer .nav {
    flex-direction: row;
    justify-content: center;
  }
  .contact-footer .nav .nav-link {
    font-size: 20px;
    margin-left: 0px;
  }
  .style-tooltip-footer {
    font-size: 14px;
  }
  .text-copyright {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  .body-footer {
    height: 319px;
    margin-top: 70px;
  }
  .content-footer {
    width: 50%;
    margin-top: 220px;
  }
  .content-footer img {
    width: 150px;
    height: 30px;
    margin-left: 15px;
  }
  .content-footer p {
    height: 40px;
    width: 200px;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin-left: 20px;
  }
  .navs-footer {
    width: 100%;
    margin-top: 10px;
    left: 0px;
    position: absolute;
  }
  .navs-footer .nav {
    width: 100%;
    justify-content: space-around;
  }
  .navs-footer .nav .nav-link {
    font-size: 18px;
    line-height: 35px;
    text-align: left;
  }
  .contact-footer {
    width: 100%;
    position: relative;
    top: 100px;
  }
  .contact-footer .nav {
    flex-direction: row;
    justify-content: center;
  }
  .contact-footer .nav .nav-link {
    font-size: 17px;
    margin-left: 0px;
  }
  .style-tooltip-footer {
    font-size: 14px;
  }
  .text-copyright {
    font-size: 13px;
  }
}

.modal form {
  width: 85%;
  margin: auto;
}

.modal form label, .modal form .style-forgot-pass {
  font-family: "UTM BryantLG";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  color: #505353;
}

.modal form input[type=text], .modal form input[type=password], .modal form input[type=email] {
  height: 60px;
  width: 370px;
  background-color: #F2F2F2;
  border: 1px solid #E1E1E1;
}

.modal form input[type=checkbox] {
  position: relative;
  top: 5px;
  margin-top: 10px;
  height: 23px;
  width: 18px;
  accent-color: #B2D235;
  cursor: pointer;
}

.modal form .style-label-remember {
  font-size: 18px;
}

.modal form .style-forgot-pass {
  margin-top: 10px;
  font-size: 18px;
  color: #B2D235;
}

.modal form .submit-modal {
  margin-top: 25px;
  height: 42px;
  width: 200px;
  border-radius: 22px;
  border: none;
  box-shadow: inset 0px 4px 4px #00000040;
  background-color: #B2D235;
  color: #FEFFFF;
  font-family: "UTM BryantLG";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.modal form .submit-modal:hover {
  background-color: transparent;
  border: 1px solid #B2D235;
  box-shadow: none;
  color: #B2D235;
  text-decoration: underline;
}

.modal .modal-dialog {
  position: relative;
  left: 2%;
}

.modal .modal-content {
  width: 430px;
  height: 650px;
  border-radius: 0px;
}

.modal .modal-content .modal-header {
  height: 70px;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-item {
  height: 70px;
  width: 50%;
  border: none;
}

.nav-tabs .nav-item .nav-link {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "UTM BryantLG";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  color: #B2D235;
  background-color: transparent;
  border-bottom: 1px solid #B2D235;
}

.nav-tabs .nav-item .active {
  border: none;
  background-color: #B2D235;
  color: #FEFFFF;
}

.icon-close-login-register {
  width: 22px;
  height: 25px;
  border: none;
  background-color: #FFFFFF;
  position: relative;
  left: 415px;
  top: -80px;
}

.icon-close-login-register i {
  margin-left: -18px;
  margin-top: -8px;
  font-size: 41px;
  color: #B2D235;
}

.icon-close-login-register:hover i {
  color: red;
}

.hr-modal {
  margin-top: 40px;
  width: 100%;
}

.text-login-with {
  font-family: "UTM BryantLG";
  background-color: #FEFFFF;
  width: 92px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  position: relative;
  top: -33px;
  z-index: 999;
}

.login-with {
  position: relative;
  top: -15px;
}

.login-with .login-facebook {
  border: none;
  color: #FEFFFF;
  background-color: #3B5999;
  height: 55px;
  width: 370px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-with .login-facebook:hover {
  background-color: transparent;
  border: 1px solid #3B5999;
  box-shadow: none;
  color: #3B5999;
  text-decoration: none;
}

.login-with .login-facebook .size-icon-facebook-modal {
  font-size: 40px;
  margin-left: -7px;
}

.login-with .login-facebook .style-text-login-facebook {
  font-family: "UTM BryantLG";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  margin-left: 5px;
}

.login-with .login-google {
  margin-top: 13px;
  border: none;
  color: #FEFFFF;
  background-color: #DC4E41;
  height: 55px;
  width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-with .login-google:hover {
  background-color: transparent;
  border: 1px solid #DC4E41;
  box-shadow: none;
  color: #DC4E41;
  text-decoration: none;
}

.login-with .login-google .size-icon-google-modal {
  font-size: 40px;
  margin-left: -7px;
}

.login-with .login-google .style-text-login-google {
  margin-left: 5px;
  font-family: "UTM BryantLG";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
