@font-face {
  font-family: OpenSans;
  src: url(../assets/font/OpenSans-Bold.ttf);
}

@font-face {
  font-family: UTM BryantLG;
  src: url(../assets/font/UTM-BryantLG.ttf);
}

$font_opensans: "OpenSans";
$font_utm_bryantlg: "UTM BryantLG";
