.bg-banner {
  background-image: url(../assets/img/hapo_banner.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.size-banner {
  height: 655px;
}

.size-img-banner {
  height: 655px;
}

.size-icon-banner {
  height: 44px;
  width: 48px;
}

.line-height-banner {
  line-height: 25px;
}

.bg-linear-banner {
  background: linear-gradient(180deg, $color-linear-start-banner 50%, $color-linear-end-banner 100%);
  height: 161px;
}

.text-learnany-banner {
  @include style_text_banner(50px, $color-text-learnany, 400, -0.8px, left, 190px, 59px);
  transition: 1s;
}
  
.text-athapo-banner {
  @include style_text_banner(50px, $color-text-athapo, 700, 0px, left, 30px, 59px);
  transition: 1s;
}
  
.text-onthego-banner {
  @include style_text_banner(20px, $color-text-onthego, 400, -0.8px, left, 15px, 59px);
  transition: 1s;
}
    
.text-btn-banner {
  @include style_text_banner(30px, $color-text-btn-banner, 700, -0.8px, center, 0px, 0px);
  transition: 1s;
}
      
.btn-banner {
  height: 70px;
  width: 377px;
  left: 60px;
  border-radius: 35px;
  box-shadow: inset 0px 4px 4px $color-shadow-btn-banner;
  background-color: $color-bg-btn-banner;
  margin-top: 15px;
  margin-left: 59px;
  border: none;
  
  &:hover {
    background-color: $color-text-all-courses;
    color: $color-text-a-disable;
    text-decoration: underline;
  }
}

@media (max-width: 1278px) {
  .size-icon-banner {
    height: 40px;
    width: 44px;
  }
  
  .size-banner {
    height: 600px;
  }

  .size-img-banner {
    height: 600px;
  }

  .text-learnany-banner {
    font-size: 40px
  }

  .text-athapo-banner {
    font-size: 40px
  }
  
  .text-onthego-banner {
    font-size: 20px
  }

  .text-btn-banner {
    font-size: 25px;
  }

  .btn-banner {
    width: 280px;
    height: 50px;
  }       
}

@media (max-width: 1003px) {
  .size-banner {
    height: 450px;
  }

  .size-img-banner {
    height: 450px;
  }

  .text-learnany-banner {
    font-size: 37px;
    margin-left: 5px;
    margin-top: 120px;
  }

  .text-athapo-banner {
    font-size: 37px;
    margin-left: 5px;
  }
  
  .text-onthego-banner {
    font-size: 17px;
    margin-left: 5px;
  }

  .text-btn-banner {
    font-size: 20px;
  }

  .btn-banner {
    width: 250px;
    height: 40px;
    margin-left: 20px;
  }       
}

     
@media (max-width: 768px) {
  .size-icon-banner {
    height: 33px;
    width: 37px;
  }

  .size-banner {
    height: 350px;
  }

  .size-img-banner {
    height: 350px;
  }

  .line-height-banner {
    line-height: 20px;
  }

  .bg-linear-banner {
    height: 122px;
  }

  .text-learnany-banner {
    font-size: 30px;
    margin-top: 75px;
  }

  .text-athapo-banner {
    font-size: 30px;
  }
  
  .text-onthego-banner {
    font-size: 15px;
    margin-top: 15px;
  }

  .text-btn-banner {
    font-size: 16px;
  }
        
  .btn-banner {
    width: 180px;
  }
}

@media (max-width: 653px) {
  .size-banner {
    height: 400px;
  }

  .size-img-banner {
    height: 400px;
  }

  .text-learnany-banner {
    font-size: 26px;
    margin-top: 75px;
  }

  .text-athapo-banner {
    font-size: 26px;
  }
  
  .text-onthego-banner {
    font-size: 14px;
    margin-top: 10px;
  }

  .text-btn-banner {
    font-size: 15px;
  }
        
  .btn-banner {
    width: 165px;
    height: 35px;
    margin-left: 10px
    ;
  }
}


@media (max-width: 575px) {
  .size-banner {
    height: 700px;
    overflow: hidden;
  }

  .size-img-banner {
    width: 100%;
    height: 250px;
  }

  .line-height-banner {
    line-height: 20px;
  }

  .bg-linear-banner {
    height: 450px;
  }

  .align-text-banner {
    width: 100%;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-learnany-banner {
    font-size: 37px;
    margin: auto;
  }

  .text-athapo-banner {
    margin-left: -100px;
    font-size: 38px;
    margin-top: 30px;
  }
  
  .text-onthego-banner {
    margin-left: -180px;
    font-size: 17px;
    margin-top: 10px;
  }

  .text-btn-banner {  
    font-size: 22px;
  }
        
  .btn-banner {
    margin: auto;
    height: 50px;
    width: 300px;
    margin-top: 30px;
  }
}

@media (max-width: 430px) {
  .size-banner {
    height: 700px;
    overflow: hidden;
  }

  .size-img-banner {
    width: 100%;
    height: 200px;
  }

  .line-height-banner {
    line-height: 20px;
  }

  .bg-linear-banner {
    height: 400px;
  }

  .align-text-banner {
    margin-top: 250px;
  }

  .text-learnany-banner {
    font-size: 27px;
    margin: auto;
  }

  .text-athapo-banner {
    margin-left: -37px;
    font-size: 27px;
    margin-top: 10px;
  }
  
  .text-onthego-banner {
    margin-left: -70px;
    font-size: 16px;
    margin-top: 0px;
  }

  .text-btn-banner {  
    font-size: 18px;
  }
        
  .btn-banner {
    margin: auto;
    height: 40px;
    width: 240px;
    margin-top: 30px;
  }
}
