.feedback {
  position: relative;
  margin-top: 50px;
}

.title-feedback {
  @include style_text_feedback(80px, $color-title-feedback, 700, -0.32px, center);
}

.hr-feedback {
  height: 6px;
  width: 328px;
  border-radius: 3px;
  background-color: $color-hr-feedback;
}

.text-feedback {
  @include style_text_feedback(25px, $color-text-feedback, 400, -0.32px, center);
  line-height: 31px;
  width: 750px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

%icon-narrow{
  position: absolute;
  color: $color-icon-narrow;
  font-size: 13px;
  height: 25px;
  width: 30px;
  border: 0.5px solid $color-border-ribbon-feedback;
  border-radius: 50%;
  background-color: $color-bg-ribbon-feedback;
  z-index: 999;
}

.prev-arrow {
  @extend %icon-narrow;
  top: 70px;
  left: 0px;
}

.next-arrow {
  @extend %icon-narrow;
  top: 70px;
  left: 1170px;
}

.slider-feedback {
  width: 1200px;

  .slider-item {
    padding-bottom: 30px;
  }
}

.person-feedback {
  margin-top: 25px;
  margin-left: 65px;
  display: flex;

  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  .info-person-feedback {
    margin-left: 15px;
    line-height: 5px;

    .name-person {
      @include style_text_feedback(20px, $color-name-person-feedback, 700, 0px, left);
      margin-top: 5px;
    }

    .name-courses {
      @include style_text_feedback(16px, $color-name-courses-feedback, 700, 0px, left);
    }

    .rate-star {
      position: relative;
      top: -5px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: left;
      color: $color-star-feedback;
    }
  }  
}

.ribbon-feedback {
  display: flex;
  position: relative;
  height: 163px;
  width: 570px;
  border-radius: 10px;
  margin: auto;
  border: 0.5px solid $color-border-ribbon-feedback;
  background-color: $color-bg-ribbon-feedback;
  box-shadow: 1px 2px 1px 1px $color-shadow-ribbon-feedback;

  &::before {
    content: '';
    position: absolute;
    bottom: -11px;
    left: 67px;
    width: 20px;
    height: 20px; 
    background: $color-bg-ribbon-feedback;
    border-right: 1px solid $color-border-ribbon-feedback;
    border-bottom: 1px solid $color-border-ribbon-feedback;
    transform : rotate(45deg);
  }

  .vertical-line-feedback {
    border-left: 5px solid $color-bar-vectical;
    height: 108px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .cmt-feedback {
    @include style_text_feedback(16px, $color-name-courses-feedback, 700, -0.8px, left);
    line-height: 20px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (max-width: 1349px) {
  .slider-feedback {
    transition: 1s;
    width: 1024px;
    overflow: hidden;
  }

  .ribbon-feedback {
    width: 480px;
    transition: 1s;
  }

  .prev-arrow {
    transition: 1s;
    top: 70px;
    left: 1px;
  }
  
  .next-arrow {
    transition: 1s;
    top: 70px;
    left: 994px;
  }

  .title-feedback {
    transition: 1s;
    @include style_text_feedback(65px, $color-title-feedback, 700, -0.32px, center);
  }
  
  .hr-feedback {
    transition: 1s;
    height: 6px;
    width: 300px;
    border-radius: 3px;
    background-color: $color-hr-feedback;
  }
  
  .text-feedback {
    transition: 1s;
    @include style_text_feedback(24px, $color-text-feedback, 400, -0.32px, center);
    line-height: 31px;
    width: 750px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

@media (max-width: 1040px) {
  .feedback {
    margin-top: 30px;
  }

  .title-feedback {
    font-size: 60px;
    line-height: 61px;
  }
  
  .hr-feedback {
    width: 280px;
    height: 4px;
    border-radius: 3px;
    margin-top: 0px;
  }

  .ribbon-feedback {
    width: 570px;
  }

  .text-feedback {
    width: 516px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .slider-feedback {
    width: 600px;
  }

  .prev-arrow {
    left: 0px;
  }
  
  .next-arrow {
    left: 570px;
  }
  
  .person-feedback {
    margin-top: 20px;
    margin-left: 64px;
  }
}

@media (max-width: 615px) {
  .feedback {
    margin-top: 30px;
  }

  .title-feedback {
    font-size: 45px;
    line-height: 61px;
  }
  
  .hr-feedback {
    width: 200px;
    height: 4px;
    border-radius: 3px;
    margin-top: 0px;
  }

  .ribbon-feedback {
    width: 385px;
  }

  .text-feedback {
    width: 410px;
    font-size: 17px;
    line-height: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .slider-feedback {
    width: 410px;
  }

  .prev-arrow {
    left: 0px;
  }
  
  .next-arrow {
    left: 380px;
  }
  
  .person-feedback {
    margin-top: 20px;
    margin-left: 62px;
  }

  .cmt-feedback {
    font-size: 13px;
    line-height: 17px;
    margin-right: 10px;
  }
}

@media (max-width: 409px) {
  .title-feedback {
    font-size: 40px;
    line-height: 49px;
  }
  
  .hr-feedback {
    width: 169px;
    height: 3px;
  }

  .text-feedback {
    width: 320px;
    font-size: 16px;
    line-height: 19px;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .ribbon-feedback {
    height: 133px;
    width: 300px;
  
    .vertical-line-feedback {
      border-left: 3px solid $color-bar-vectical;
      height: 98px;
    }
    
    .cmt-feedback {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .slider-feedback {
    width: 320px;
  }

  %icon-narrow{
    top: 60px;
    height: 25px;
    width: 20px;  
  }

  .prev-arrow {
    left: 0px;
  }
  
  .next-arrow {
    left: 300px;
  }
  
  .person-feedback {
    margin-top: 20px;
    margin-left: 67px;

    img {
      height: 45px;
      width: 45px;
    }
  
    .info-person-feedback {
      margin-left: 15px;
      line-height: 5px;
  
      .name-perfon {
        margin-top: 5px;
        font-size: 15px;
      }
  
      .name-courses {
        font-size: 13px;
      }
  
      .rate-star {
        font-size: 10px;
        color: $color-star-feedback;
        top: -8px
      }
    }  
  }
}
