a:hover {
  span {
    color: $color-text-a-disable;
    text-decoration: underline;
  }

  .a-disable {
    color: $color-bg-a-active;
  }
}

.navbar-toggler {
  border: none;

  span {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
  }
}

.a-hide {
  display: none;
}

.logo-align {
  margin-left: 5%;
}

.a-disable {
  font-family: $font_opensans;
  font-size: 17px;
  font-style: Bold;
  font-weight: 700;
  color: $color-text-a-disable;
}

.a-active {
  font-family: $font_opensans;
  font-size: 17px;
  font-style: Bold;
  font-weight: 700;
  color: $color-text-a-active;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;

  .nav-item {
    &:nth-child(1) {
      @include calc(margin-left, 100%/3);
      transition: 0.8s;
    }

    .nav-link {
      width: 200px;
    }
  }
}

.icon-hide { 
  display: none;
}

.logo-size {
  height: 70px;
  width: 340.16px;
}


.a-bg-active {
  height: 34px;
  border-radius: 17px;
  background-color: $color-bg-a-active;
  text-align: center;
  padding: 7px 20px 7px 20px;
  border: 0px;
}

@media (max-width: 1675px){
  .navbar-nav {
    .nav-item {
      &:nth-child(1) {
        @include calc(margin-left, 100%/5);
      }
  
      .nav-link {
        width: 195px;
      }
    }
  }
}

@media (max-width: 1581px){
  .navbar-nav {
    .nav-item {
      &:nth-child(1) {
        @include calc(margin-left, 100%/7);
      }
  
      .nav-link {
        width: 193px;
      }

      a {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1366px){
  .navbar-nav {
    .nav-item {
      &:nth-child(1) {
        @include calc(margin-left, 100%/10);
      }
  
      .nav-link {
        width: 185px;
      }

      a {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 1278px){
  .navbar-nav {
    .nav-item {
      &:nth-child(1) {
        margin-left: 5px;
      }
  
      .nav-link {
        width: 180px;
      }

      span {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 1144px){
  .navbar-nav {
    .nav-item {
      &:nth-child(1) {
        margin-left: 0px;
      }

      .nav-link {
        width: 200px;
      }
    }
  } 

  .a-hide {
    display: block;
    transform: 1s;
  }
}

@media (max-width: 1003px) {
  .logo-size {
    height: 61px;
    width: 300px;
    border-radius: 0px;
  }

  .header-responsive {
    flex-direction: column;
  }
  
  .collapse {
    padding-top: 5px;
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        width: auto;
      }
    }
  }
}

@media (max-width: 653px) {
  .logo-size {
    height: 50px;
    width: 240px;
  }

  .collapse {
    padding-top: 10px;
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        width: 185px;
      }
    }
  }
}

@media (max-width: 575px) {
  .header-responsive {
    flex-direction: row;
  }

  .collapse {
    padding-top: 0px;
  }

  .logo-size {
    height: 45px;
    width: 200px;
    border-radius: 0px;
  }

  .logo-align {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    left: -25px;
  }

  nav-item {
    text-align: center;
  }

  .a-active {
    color: $color-text-a-active-iphonex;
  }
  
  .a-bg-active {
    background-color: transparent;
  }

  a:hover {
    span {
      color: $color-bg-a-active;
      text-decoration: underline;
    }
  }
} 

@media (max-width: 375px) {
  .logo-size {
    height: 28px;
    width: 180px;
  }

  .navbar-toggler {
    span {
      font-size: 22.5px;
    }
  }

  .nav-item {
    text-align: center;
  }

  .a-active {
    color: $color-text-a-active-iphonex;
  }
  
  .a-bg-active {
    background-color: transparent;
  }
}

@media (max-width: 343px) {
  .logo-size {
    height: 25px;
    width: 150px;
  }

  .logo-align {
    left: -27px;
  }

  .navbar-toggler {
    span {
      font-size: 20px;
    }
  }
}
