header {
  a:hover {
    span {
      color: $color-text-a-disable;
      text-decoration: underline;
    }
  
    .a-active {
      background-color: transparent;
      color: $color-bg-a-active;
    }

    .a-disable {
      color: $color-bg-a-active;
    }
  }
}

.navbar-toggler {
  border: none;
  
  span {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    
    &:hover {
      color: $color-bg-a-active;
    }
  }
}

.a-hide {
  display: none;
}

.logo-align {
  margin-left: 5%;
  padding-bottom: 12px;
}

.a-disable {
  font-family: $font_opensans;
  font-size: 14px;
  font-style: Bold;
  font-weight: 700;
  color: $color-text-a-disable;
}

.a-active {
  font-family: $font_opensans;
  font-size: 14px;
  font-style: Bold;
  font-weight: 700;
  color: $color-text-a-active;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;

  .nav-item {
    &:nth-child(6) {
      margin-right: 100px;
    }

    .nav-link {
      width: auto;
      margin-right: 10px;
    }
  }
}

.icon-hide { 
  display: none;
}

.logo-size {
  height: 70px;
  width: 340.16px;
}

.a-bg-active {
  height: 34px;
  border-radius: 17px;
  background-color: $color-bg-a-active;
  text-align: center;
  padding: 7px 20px 7px 20px;
  border: 0px;
}

@media (max-width: 1278px){
  .navbar-nav {
    .nav-item {
      &:nth-child(6) {
        margin-right: 0px;
      }
    }
  }
}

@media (max-width: 991px) {
  .logo-size {
    height: 61px;
    width: 300px;
    border-radius: 0px;
  }

  .a-hide {
    display: block;
    transform: 1s;
  }

  .header-responsive {
    flex-direction: column;
  }
  
  .collapse {
    padding-top: 5px;
  }

  .navbar-nav {
    justify-content: space-between;

    .nav-item {
      &:nth-child(6) {
        padding-right: 0px;
      }

      .nav-link {
        width: auto;
        margin-right: 0px;
      }
    }
  }
}

@media (max-width: 653px) and (min-width: 576px) {
  .logo-align {
    margin-right: 50px;
  }

  .logo-size {
    height: 50px;
    width: 240px;
  }

  .collapse {
    padding-top: 10px;
  }

  .navbar-nav {
    .nav-item {  
       .nav-link {
        width: 180px;
        margin-right: 0px;
      }
    }
  }
}

@media (max-width: 575px) {
  .header-responsive {
    flex-direction: row;
  }

  .collapse {
    padding-top: 0px;
  }

  .logo-size {
    height: 45px;
    width: 200px;
    border-radius: 0px;
  }

  .logo-align {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    left: -25px;
  }

  .nav-item {
    text-align: center;
  }

  .a-active {
    color: $color-text-a-active-iphonex;
  }
  
  .a-bg-active {
    background-color: transparent;
  }

  a:hover {
    span {
      color: $color-bg-a-active;
      text-decoration: underline;
    }
  }
} 

@media (max-width: 375px) {
  .logo-size {
    height: 28px;
    width: 180px;
  }

  .navbar-toggler {
    span {
      font-size: 22.5px;
    }
  }

  .nav-item {
    text-align: center;
  }

  .a-active {
    color: $color-text-a-active-iphonex;
  }
  
  .a-bg-active {
    background-color: transparent;
  }
}

@media (max-width: 343px) {
  .logo-size {
    height: 25px;
    width: 150px;
  }

  .logo-align {
    left: -27px;
  }

  .navbar-toggler {
    span {
      font-size: 20px;
    }
  }
}
