.modal {
  form {
    width: 85%;
    margin: auto;

    label {
      font-family: $font_utm_bryantlg;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
      color: $color-label-modal;
    }

    input[type=text] , input[type=password], input[type=email] {
      height: 60px;
      width: 370px;
      background-color: $color-bg-input;
      border: 1px solid $color-border-input;
    }

    input[type=checkbox] {
      position: relative;
      top: 5px;
      margin-top: 10px;
      height: 23px;
      width: 18px;
      accent-color: $color-bg-a-active;
      cursor: pointer;
    }

    .style-label-remember {
      font-size: 18px;
    }

    .style-forgot-pass {
      margin-top: 10px;
      @extend label;
      font-size: 18px;
      color: $color-bg-a-active;
    }

    .submit-modal {
      margin-top: 25px;
      height: 42px;
      width: 200px;
      border-radius: 22px;
      border: none;
      box-shadow: inset 0px 4px 4px $color-shadow-btn-banner;
      background-color: $color-bg-a-active;
      color: $color-text-a-active;
      font-family: $font_utm_bryantlg;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;

      &:hover {
        background-color: transparent;
        border: 1px solid $color-bg-a-active;
        box-shadow: none;
        color: $color-bg-a-active;
        text-decoration: underline;
        }
      }

      .align-btn-register {
        margin-top: 40px;
      }
    }

  .modal-content {
    width: 430px;
    height: 650px;
    border-radius: 0px;

    .modal-header {
      height: 70px;
    }
  }
}

.nav-tabs {
  border: none;

  .nav-item {
    height: 70px;
    width: 50%;
    border: none;
    
    .nav-link {
      width: 100%;
      height: 100%;
      border-radius: 0px;
      justify-content: center;
      align-items: center;
      display: flex;
      font-family: $font_utm_bryantlg;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: 31px;
      color: $color-bg-a-active;
      background-color: transparent;
      border-bottom: 1px solid $color-bg-a-active;
    }

    .active {
      border: none;
      background-color: $color-bg-a-active;
      color: $color-text-a-active;
    }
  }
} 

.icon-close-login-register {
  width: 22px;
  height: 25px;
  border: none;
  background-color: $color-text-btn-card;
  position: relative;
  left: 415px;
  top: -80px;
  z-index: 998;

  i {
    margin-left: -18px;
    margin-top: -8px;
    font-size: 41px;
    color: $color-bg-a-active;
    z-index: 999;
  }

  &:hover {
    i {
      color: red;
    }
  }
}

.hr-modal {
  margin-top: 40px;
  width: 100%;
}

.text-login-with {
  font-family: $font_utm_bryantlg;
  background-color: $color-text-a-active;
  width: 92px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  position: relative;
  top: -33px;
  z-index: 999;
}

.login-with {
  position: relative;
  top: -15px;

  .login-facebook {
    border: none;
    color: $color-text-a-active;
    background-color: $color-bg-login-fb;
    height: 55px;
    width: 370px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: transparent;
      border: 1px solid $color-bg-login-fb;
      box-shadow: none;
      color: $color-bg-login-fb;
      text-decoration: none;
    }

    .size-icon-facebook-modal {
      font-size: 40px;
      margin-left: -7px;
    }

    .style-text-login-facebook {
      font-family: $font_utm_bryantlg;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
      margin-left: 5px;
    }
  }

  .login-google {
    margin-top: 13px;
    border: none;
    color: $color-text-a-active;
    background-color: $color-bg-login-google;
    height: 55px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: transparent;
      border: 1px solid $color-bg-login-google;
      box-shadow: none;
      color: $color-bg-login-google;
      text-decoration: none;
    }
    
    .size-icon-google-modal {
      font-size: 40px;
      margin-left: -7px;
    }

    .style-text-login-google {
      margin-left: 5px;
      font-family: $font_utm_bryantlg;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
    }
  }
}

@media (max-width: 768px) {
  .modal {
    form { 
      label {
        font-size: 16px;
      }
  
      input[type=text] , input[type=password], input[type=email] {
        height: 45px;
        width: 342px;
      }

      input[type=checkbox] {
        height: 20px;
        width: 15px;
      }

      .style-label-remember {
        font-size: 16px;
        
        .align-text-remember {
          position: relative;
          top: 1px;
        }
      }
  
      .style-forgot-pass {
        font-size: 16px;
      }
  
      .submit-modal {
        margin-top: 20px;
        height: 35px;
        width: 160px;
        font-size: 16px;
      }

      .align-btn-register {
        margin-top: 40px;
      }
    }
  
    .modal-content {
      width: 400px;
      height: 560px;
      border-radius: 0px;
  
      .modal-header {
        height: 50px;
      }
    }
  }
  
  .nav-tabs {
    border: none;
  
    .nav-item {
      height: 50px;

      .nav-link {
        font-size: 20px;
      }
    }
  } 
  
  .icon-close-login-register {
    width: 20px;
    height: 20px;
    left: 385px;
    top: -55px;
  
    i {
      margin-left: -10px;
      margin-top: -5px;
      font-size: 30px;
    }
  }
  
  .hr-modal {
    margin-top: 35px;
    width: 100%;
  }
  
  .text-login-with {
    width: 79px;
    font-size: 16px;
  }
  
  .login-with {
    position: relative;
    top: -15px;
  
    .login-facebook {
      height: 45px;
      width: 350px;
      margin-top: 10px;

      .size-icon-facebook-modal {
        font-size: 30px;
        margin-left: -7px;
      }
  
      .style-text-login-facebook {
        font-size: 18px;
        margin-left: 5px;
      }
    }
  
    .login-google {
      height: 45px;
      width: 350px;
      margin-top: 10px;
      
      .size-icon-google-modal {
        font-size: 30px;
        margin-left: -7px;
      }
  
      .style-text-login-google {
        margin-left: 5px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 430px) {
  .modal {
    form { 
      label {
        font-size: 14px;
      }
  
      input[type=text] , input[type=password], input[type=email] {
        height: 35px;
        width: 270px;
      }

      input[type=checkbox] {
        height: 17px;
        width: 13px;
      }

      .style-label-remember {
        font-size: 14px;
      }
  
      .style-forgot-pass {
        font-size: 14px;
      }
  
      .submit-modal {
        margin-top: 15px;
        height: 30px;
        width: 140px;
        font-size: 14px;
      }

      .align-btn-register {
        margin-top: 40px;
      }
    }
  
    .modal-content {
      width: 320px;
      height: 490px;
  
      .modal-header {
        height: 40px;
      }
    }
  }
  
  .nav-tabs {
    border: none;
  
    .nav-item {
      height: 40px;

      .nav-link {
        font-size: 16px;
      }
    }
  } 
  
  .icon-close-login-register {
    width: 20px;
    height: 20px;
    left: 385px;
    top: -55px;
  
    i {
      margin-left: -10px;
      margin-top: -5px;
      font-size: 30px;
    }
  }
  
  .hr-modal {
    margin-top: 30px;
    width: 100%;
  }
  
  .text-login-with {
    width: 65px;
    font-size: 14px;
  }
  
  .login-with {
    position: relative;
    top: -15px;
  
    .login-facebook {
      height: 40px;
      width: 280px;
      margin-top: 10px;

      .size-icon-facebook-modal {
        font-size: 25px;
        margin-left: -7px;
      }
  
      .style-text-login-facebook {
        font-size: 16px;
        margin-left: 5px;
      }
    }
  
    .login-google {
      height: 40px;
      width: 280px;
      margin-top: 0px;
      
      .size-icon-google-modal {
        font-size: 25px;
        margin-left: -7px;
      }
  
      .style-text-login-google {
        margin-left: 5px;
        font-size: 16px;
      }
    }
  }
}
