.messbox {
  position: fixed;
  z-index: 999;
  right: 10%;
  bottom: 80px;
  right: 80px;
  
  .size-badge-mess {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    background: #2774DF;
  }

  i {
    font-size: 45px;
    color: white;
  }

  .boxchat {
    height: 190px;
    width: 360px;
    border-radius: 23px;
    top: -210px;
    right: -55px;
    background: #FFFFFF;
    display: none;
    box-shadow: 0px 0px 8px 0px #00000040;
  }

  .chat-admin {
    position: relative;
    height: 53px;
    width: 256px;
    border-radius: 15px;
    background-color: #F1F0F0;
    top: 23px;
    left: 50px;
    font-family: $font_opensans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: -0.02em;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: #505353;
  }

  .name-chat-admin {
    position: relative;
    left: 65px;
    top: 13px;
    font-family: $font_opensans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: #7F7F7F;
  }

  .avata-hapo {
    position: absolute;
    height: 28px;
    width: 28px;
    top: 53px;
    left: 13px;
  }

  .close-chat {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 13px;
    top: 13px;
    border-radius: 50%;
    background-color: #C4C4C4;
    z-index: 999;
    cursor: pointer;

    i {
      margin-left: 6px;
      margin-top: 2.5px;
      font-size: 20px;
      color:  $color-text-athapo;
    }
  }

  .login-mess {
    height: 37px;
    width: 276px;
    border-radius: 10px;
    background-color: #3184F7;
    margin-left: 41px;
    margin-top: 45px;
    cursor: pointer;
    font-family: $font_opensans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: white;

    i {
      font-size: 17px;
      color: white;
      padding-right: 10px;
    }
  }

  .chat-with-hapo {
    font-family: $font_opensans;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #B2B2B2;
    margin-top: 6px;
  }
}

@media (max-width: 575px) {
  .messbox {
    bottom: 70px;
    right: 70px;
    
    .size-badge-mess {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: none;
      background: #2774DF;
    }
  
    i {
      font-size: 37px;
      color: white;
    }
  
    .boxchat {
      height: 180px;
      width: 300px;
      top: -195px;
      right: -50px;
    }
  
    .chat-admin {
      position: relative;
      height: 53px;
      width: 240px;
      border-radius: 15px;
      background-color: #F1F0F0;
      top: 27px;
      left: 50px;
      font-family: $font_opensans;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 17px;
      letter-spacing: -0.02em;
      text-align: left;
      display: flex;
      align-items: center;
      padding-left: 15px;
      color: #505353;
    }
  
    .name-chat-admin {
      position: relative;
      left: 65px;
      top: 20px;
      font-family: $font_opensans;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      text-align: left;
      color: #7F7F7F;
    }
  
    .avata-hapo {
      position: absolute;
      height: 28px;
      width: 28px;
      top: 55px;
      left: 13px;
    }
  
    .close-chat {
      height: 22px;
      width: 22px;
      right: 8px;
      top: 8px;
  
      i {
        margin-left: 6px;
        margin-top: -1px;
        font-size: 17px;
        color: $color-text-athapo;
      }
    }
  
    .login-mess {
      height: 30px;
      width: 225px;

      i {
        font-size: 17px;
        color: white;
        padding-right: 10px;
      }
    }
  
    .chat-with-hapo {
      margin-top: 6px;
      margin-left: 5px;
    }
  }
}
