.start-learning {
  background-image: url(../assets/img/rectangle_24.png);
  background-size: 100% 100%;
  height: 500px;
  margin-top: 80px;
}

.text-start-learning {
  @include style_text_startlearning(60px, $color-title-start-learning, 700, 74px, -0.32px, center);
  width: 705px;
  margin: auto;
  margin-top: 130px;
}

.btn-start-learning {
  .style-text-btn-learning {
    @include style_text_startlearning(30px, $color-text-btn-start-learning, 700, 37px, -0.8px, center);
  }

  height: 70px;
  width: 377px;
  border: none;
  border-radius: 35px;
  margin: auto;
  margin-bottom: 100px;
  box-shadow: 0px 4px 4px 0px $color-shadow-btn-start-learning inset;

  &:hover {
    transition: 0.5s;
    background-color: $color-text-all-courses;

    a {
      color: $color-text-a-disable;
    };
  }
}

@media (max-width: 1024px) {
  .start-learning {
    margin-top: 10px;
    height: 400px;
    transition: 1s;
  }

  .text-start-learning {
    width: 700px;
    margin-top: 100px;
    font-size: 50px;
    line-height: 42px;
    transition: 1s;
  }
  
  .btn-start-learning {
    font-size: 20px;
    line-height: 24px;
    height: 60px;
    width: 330px;
    margin-bottom: 100px;
    transition: 1s;

    .style-text-btn-learning {
      font-size: 25px;
      transition: 1s;
    }
  }
}

@media (max-width: 768px) {
  .start-learning {
    margin-top: 10px;
    height: 300px;
  }

  .text-start-learning {
    width: 450px;
    margin-top: 80px;
    font-size: 40px;
    line-height: 42px;
  }
  
  .btn-start-learning {
    line-height: 24px;
    height: 46px;
    width: 280px;
    margin-bottom: 50px;

    .style-text-btn-learning {
      font-size: 22px;
    }
  }
}

@media (max-width: 460px) {
  .start-learning {
    margin-top: 0px;
    height: 255px;
  }

  .text-start-learning {
    width: 375px;
    margin-top: 50px;
    font-size: 30px;
    line-height: 42px;
  }
  
  .btn-start-learning {
    line-height: 24px;
    height: 40px;
    width: 230px;
    margin-bottom: 50px;

    .style-text-btn-learning {
      font-size: 20px;
    }
  }
}

@media (max-width: 375px) {
  .text-start-learning {
    width: 320px;
    margin-top: 50px;
    font-size: 28px;
    line-height: 42px;
  }
  
  .btn-start-learning {
    line-height: 24px;
    height: 40px;
    width: 230px;
    margin-bottom: 50px;

    .style-text-btn-learning {
      font-size: 20px;
    }
  }
}
