.bg-why-hapo {
  background-image: url(../../assets/img/rectangle_17.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 740px;
}

.align-why-hapo {
  margin-top: 120px;
}

.title-why-hapo {
  @include style_text_whyhapo(70px, 700, 86px, 0.32px, $color-text-why-hapo);
  left: -24px;
  top: -24px
}

.text-why-hapo {
  @include style_text_whyhapo(-20px, 400, 50px, 0.8px, $color-text-why-hapo);

  img {
    @include size_img(30px, 35px);
  }
}  

.img-keyboard {
  @include size_img(378px, 473px);
  @include align_item_whyhapo(-220px, 0px);
}

.img-laptop {
  @include size_img(715px, 560px);
  @include align_item_whyhapo(112px, 0px);
}

.section-text-why-hapo {
  @include align_item_whyhapo(-195px, 150px);
}

@media (max-width: 768px) and (min-width: 376px) {
  .bg-why-hapo {
    height: 395px;
  }

  .title-why-hapo {
    @include style_text_whyhapo_responsive(50px, 61px, 404px, -50px, 50px);
  }
  
  .text-why-hapo {
    @include style_text_whyhapo_responsive(15px, 38px, 450px, -10px, -138px);

    img {
      @include size_img(18px, 20px);
    }
  }  
  
  .img-keyboard {
    @include img_whyhapo(220px, 293px, -141px);
  }
  
  .img-laptop {
    @include img_whyhapo(317px, 255px, 140px);
  }
}

@media (max-width: 375px) {
  .align-why-hapo {
    margin-top: 60px;
  }

  .bg-why-hapo {
    height: 569px;
  }

  .title-why-hapo {
    @include style_text_whyhapo_responsive(40px, 40px, 228px, -26px, 136px);
  }
  
  .text-why-hapo {
    @include style_text_whyhapo_responsive(11.5px, 35px, 350px, 5px, 14px);
   
    img {
      @include size_img(14px, 18px);
    }
  }  
  
  .img-keyboard {
    @include img_whyhapo(204px, 277px, -118px);
  }

  .img-laptop {
    @include img_whyhapo(322px, 227px, -206px);
    left: -30px;
  }
  
  .section-text-why-hapo {
    top: -220px;
    left: 0px;
  }
}
